html {
    font-size: 10px;
}

main {
    padding: 0 15px;
}

p {
    font-size: 1.8rem;
}

label {
    font-size: 1.6rem;
}

input[type="checkbox"] {
    height: 1.5rem;
    width: 1.5rem;
    margin: 0;
}

button {
    display: block;
    margin: 20px 0;
    font-size: 1.5rem;
}

ul#ms-list {
    font-size: 1.6rem;
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 20px;
}